*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 200vh;
}
section{
  position: fixed; 
  top: 0;
  left: 0; 
  width: 100%;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
}
section .side{
    pointer-events: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Image1.png);
}
section .side#side1{
    clip-path: polygon(50% 0%, 68% 52%, 47% 100%, 0 100%, 0 0);
}
section .side#side2{
    clip-path: polygon(50% 0%, 68% 52%, 47% 100%, 100% 100%, 100% 0);
}